<a href="https://colab.research.google.com/github/Atria14/data-science/blob/main/01_wprowadzenie/06_wycinanie_komorek_dane_gieldowe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

Załadowanie danych podanych w kursie:

In [ ]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq') # biblioteka DataReader - pozwala ściągnąć dane

df = fetch_financial_data()
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-12-28 to 2018-01-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

In [ ]:
df # przy dużej ilości danych 1257x5 wyświetla 5 pierwszych i 5 osatnich. Mamy daty, mogą być przerwy np. na weekendy bo są to dane z giełdy. Najnowsza sesja jest na samej górze
# cena Open otwarcia, High - najwyzsza, Low- najniższa, Close- cena zamknięcia, Volume obrot

               Open     High      Low    Close    Volume
Date
2022-12-28  82.8000  83.4800  81.6900  81.8200  58228575
2022-12-27  84.9700  85.3500  83.0000  83.0400  57284035
2022-12-23  83.2500  85.7800  82.9344  85.2500  57433655
2022-12-22  85.5200  85.6800  82.2500  83.7900  81431314
2022-12-21  86.1750  87.2250  85.2100  86.7700  59267156
...             ...      ...      ...      ...       ...
2018-01-08  61.8000  62.6540  61.6015  62.3435  85409700
2018-01-05  60.8755  61.4570  60.5000  61.4570  70731320
2018-01-04  60.2500  60.7935  60.2330  60.4820  60348520
2018-01-03  59.4150  60.2745  59.4150  60.2100  61890620
2018-01-02  58.6000  59.5000  58.5255  59.4500  53811180

[1257 rows x 5 columns]

In [ ]:
df.head() # zwraca 5 pierwszych wersji

              Open    High      Low  Close    Volume
Date
2022-12-28  82.800  83.480  81.6900  81.82  58228575
2022-12-27  84.970  85.350  83.0000  83.04  57284035
2022-12-23  83.250  85.780  82.9344  85.25  57433655
2022-12-22  85.520  85.680  82.2500  83.79  81431314
2022-12-21  86.175  87.225  85.2100  86.77  59267156

In [ ]:
df.head(3) # zwróci x pierwszych wyników

             Open   High      Low  Close    Volume
Date
2022-12-28  82.80  83.48  81.6900  81.82  58228575
2022-12-27  84.97  85.35  83.0000  83.04  57284035
2022-12-23  83.25  85.78  82.9344  85.25  57433655

In [ ]:
df.tail() # zwróci 5 ostatnich wyników

               Open     High      Low    Close    Volume
Date
2018-01-08  61.8000  62.6540  61.6015  62.3435  85409700
2018-01-05  60.8755  61.4570  60.5000  61.4570  70731320
2018-01-04  60.2500  60.7935  60.2330  60.4820  60348520
2018-01-03  59.4150  60.2745  59.4150  60.2100  61890620
2018-01-02  58.6000  59.5000  58.5255  59.4500  53811180

In [ ]:
df.tail(10)

               Open     High      Low    Close     Volume
Date
2018-01-16  66.1500  66.9970  64.6150  65.2430  143108320
2018-01-12  63.6695  65.2880  63.6695  65.2600  108750540
2018-01-11  62.9870  63.8385  62.8230  63.8340   62395900
2018-01-10  62.2575  62.7165  61.8615  62.7165   53654260
2018-01-09  62.8450  62.9665  62.0880  62.6350   73152440
2018-01-08  61.8000  62.6540  61.6015  62.3435   85409700
2018-01-05  60.8755  61.4570  60.5000  61.4570   70731320
2018-01-04  60.2500  60.7935  60.2330  60.4820   60348520
2018-01-03  59.4150  60.2745  59.4150  60.2100   61890620
2018-01-02  58.6000  59.5000  58.5255  59.4500   53811180

In [ ]:
df.columns # pokaże wszystkie nazwy kolumn

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [ ]:
df.columns = [col.lower() for col in df.columns] # zamiana tekstu w nagłówkach kolumn na małe litery
df.head()

              open    high      low  close    volume
Date
2022-12-28  82.800  83.480  81.6900  81.82  58228575
2022-12-27  84.970  85.350  83.0000  83.04  57284035
2022-12-23  83.250  85.780  82.9344  85.25  57433655
2022-12-22  85.520  85.680  82.2500  83.79  81431314
2022-12-21  86.175  87.225  85.2100  86.77  59267156

In [ ]:
df.describe()
#liczba danych
#średnia cena otwarcia itd

              open         high          low        close        volume
count  1257.000000  1257.000000  1257.000000  1257.000000  1.257000e+03
mean    119.951325   121.391508   118.341303   119.869259  8.665116e+07
std      35.653565    36.037474    35.225166    35.591771  4.065436e+07
min      58.600000    59.500000    58.525500    59.450000  1.762674e+07
25%      89.150000    89.782500    88.011000    88.999500  5.896971e+07
50%     108.104000   110.781000   106.324200   108.000000  7.525174e+07
75%     158.338000   159.938000   156.250000   158.100000  1.027306e+08
max     187.200000   188.654000   184.840000   186.570000  3.113457e+08

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,1257.0,1.199513e+02,3.565357e+01,5.860000e+01,8.915000e+01,1.081040e+02,1.583380e+02,1.872000e+02
high,1257.0,1.213915e+02,3.603747e+01,5.950000e+01,8.978250e+01,1.107810e+02,1.599380e+02,1.886540e+02
low,1257.0,1.183413e+02,3.522517e+01,5.852550e+01,8.801100e+01,1.063242e+02,1.562500e+02,1.848400e+02
close,1257.0,1.198693e+02,3.559177e+01,5.945000e+01,8.899950e+01,1.080000e+02,1.581000e+02,1.865700e+02
volume,1257.0,8.665116e+07,4.065436e+07,1.762674e+07,5.896971e+07,7.525174e+07,1.027306e+08,3.113457e+08

SELEKCJA KOLUMN

In [ ]:
df = df.head(10)
df

              open     high      low  close     volume
Date
2022-12-28  82.800  83.4800  81.6900  81.82   58228575
2022-12-27  84.970  85.3500  83.0000  83.04   57284035
2022-12-23  83.250  85.7800  82.9344  85.25   57433655
2022-12-22  85.520  85.6800  82.2500  83.79   81431314
2022-12-21  86.175  87.2250  85.2100  86.77   59267156
2022-12-20  85.330  86.6100  84.3300  85.19   74348301
2022-12-19  87.510  87.6300  84.5100  84.92   83531460
2022-12-16  88.265  89.3500  86.7300  87.86  146144064
2022-12-15  89.890  89.9700  87.4700  88.45   84802877
2022-12-14  92.502  93.4581  89.8700  91.58   70298006

In [ ]:
df['open'] # wycięcie jako obiekt typu Series

Date
2022-12-28    82.800
2022-12-27    84.970
2022-12-23    83.250
2022-12-22    85.520
2022-12-21    86.175
2022-12-20    85.330
2022-12-19    87.510
2022-12-16    88.265
2022-12-15    89.890
2022-12-14    92.502
Name: open, dtype: float64

In [ ]:
df.open # tak jak wyżej

Date
2022-12-28    82.800
2022-12-27    84.970
2022-12-23    83.250
2022-12-22    85.520
2022-12-21    86.175
2022-12-20    85.330
2022-12-19    87.510
2022-12-16    88.265
2022-12-15    89.890
2022-12-14    92.502
Name: open, dtype: float64

In [ ]:
df[['open']] # wytnie kolumny jako DataFrame - [[wycina listę kolumn]]

              open
Date
2022-12-28  82.800
2022-12-27  84.970
2022-12-23  83.250
2022-12-22  85.520
2022-12-21  86.175
2022-12-20  85.330
2022-12-19  87.510
2022-12-16  88.265
2022-12-15  89.890
2022-12-14  92.502

In [ ]:
df[['open','close']]

              open  close
Date
2022-12-28  82.800  81.82
2022-12-27  84.970  83.04
2022-12-23  83.250  85.25
2022-12-22  85.520  83.79
2022-12-21  86.175  86.77
2022-12-20  85.330  85.19
2022-12-19  87.510  84.92
2022-12-16  88.265  87.86
2022-12-15  89.890  88.45
2022-12-14  92.502  91.58

In [ ]:
# wycinanie metodą iloc, która przyjmuje indeksy : - wszystkie indeksy, jeśli chcemy dwie kolumny to tworzymy wewnątrz listę [0,2] i podajemy ich indeksy
df.iloc[:, [0,3]]

              open  close
Date
2022-12-28  82.800  81.82
2022-12-27  84.970  83.04
2022-12-23  83.250  85.25
2022-12-22  85.520  83.79
2022-12-21  86.175  86.77
2022-12-20  85.330  85.19
2022-12-19  87.510  84.92
2022-12-16  88.265  87.86
2022-12-15  89.890  88.45
2022-12-14  92.502  91.58

In [ ]:
# wycinanie zakresu komórek : - wszystkie indeksy wierszy, zakres kolumn
df.iloc[:, 3:5]

            close     volume
Date
2022-12-28  81.82   58228575
2022-12-27  83.04   57284035
2022-12-23  85.25   57433655
2022-12-22  83.79   81431314
2022-12-21  86.77   59267156
2022-12-20  85.19   74348301
2022-12-19  84.92   83531460
2022-12-16  87.86  146144064
2022-12-15  88.45   84802877
2022-12-14  91.58   70298006

In [ ]:
df.iloc[:, -1] # Series

Date
2022-12-28     58228575
2022-12-27     57284035
2022-12-23     57433655
2022-12-22     81431314
2022-12-21     59267156
2022-12-20     74348301
2022-12-19     83531460
2022-12-16    146144064
2022-12-15     84802877
2022-12-14     70298006
Name: volume, dtype: int64

In [ ]:
df.iloc[:, [-1]] # DataFrame

               volume
Date
2022-12-28   58228575
2022-12-27   57284035
2022-12-23   57433655
2022-12-22   81431314
2022-12-21   59267156
2022-12-20   74348301
2022-12-19   83531460
2022-12-16  146144064
2022-12-15   84802877
2022-12-14   70298006

In [ ]:
df.iloc[:, -3:] # zakres od 3 kolumny od końca - do końca

                low  close     volume
Date
2022-12-28  81.6900  81.82   58228575
2022-12-27  83.0000  83.04   57284035
2022-12-23  82.9344  85.25   57433655
2022-12-22  82.2500  83.79   81431314
2022-12-21  85.2100  86.77   59267156
2022-12-20  84.3300  85.19   74348301
2022-12-19  84.5100  84.92   83531460
2022-12-16  86.7300  87.86  146144064
2022-12-15  87.4700  88.45   84802877
2022-12-14  89.8700  91.58   70298006

SELEKCJA WIERSZY

In [ ]:
df

              open     high      low  close     volume
Date
2022-12-28  82.800  83.4800  81.6900  81.82   58228575
2022-12-27  84.970  85.3500  83.0000  83.04   57284035
2022-12-23  83.250  85.7800  82.9344  85.25   57433655
2022-12-22  85.520  85.6800  82.2500  83.79   81431314
2022-12-21  86.175  87.2250  85.2100  86.77   59267156
2022-12-20  85.330  86.6100  84.3300  85.19   74348301
2022-12-19  87.510  87.6300  84.5100  84.92   83531460
2022-12-16  88.265  89.3500  86.7300  87.86  146144064
2022-12-15  89.890  89.9700  87.4700  88.45   84802877
2022-12-14  92.502  93.4581  89.8700  91.58   70298006

In [ ]:
df.iloc[0]

open            82.80
high            83.48
low             81.69
close           81.82
volume    58228575.00
Name: 2022-12-28 00:00:00, dtype: float64

In [ ]:
df.iloc[:3]

             open   high      low  close    volume
Date
2022-12-28  82.80  83.48  81.6900  81.82  58228575
2022-12-27  84.97  85.35  83.0000  83.04  57284035
2022-12-23  83.25  85.78  82.9344  85.25  57433655

In [ ]:
df.loc['2022-12-28'] # jeden wiersz

            open   high    low  close    volume
Date
2022-12-28  82.8  83.48  81.69  81.82  58228575

In [ ]:
df.loc['2022-12-23': '2022-12-28'] # podany zakres

             open   high    low  close    volume
Date
2022-12-28  82.80  83.48  81.69  81.82  58228575
2022-12-27  84.97  85.35  83.00  83.04  57284035