<a href="https://colab.research.google.com/github/Atria14/data-science/blob/main/01_wprowadzenie/08_zapis_odczyt_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
def fetch_financial_data(company='AMZN'):
    """Pobiera dane dotyczące notowań spółek na giełdzie według symboli
    na serwisie stooq.pl"""
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data('META')
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2022-12-28 to 2018-01-02
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.9 KB

Zapis/Odczyt danych z pliku CSV

In [6]:
df.to_csv('fb.csv') # eskport dataframe do pliku

In [12]:
#wycięcie danych do pliku za miesiac listopad
df_now = df[(df.index.month == 11) & (df.index.year == 2021)]
df_now

                Open      High      Low   Close    Volume
Date
2021-11-30  335.0000  335.8100  323.430  324.46  25390008
2021-11-29  336.8900  340.6700  335.305  338.03  16650949
2021-11-26  335.7950  337.7500  331.902  333.12  14750737
2021-11-24  336.0000  341.7800  332.810  341.06  13566181
2021-11-23  338.9300  341.3999  333.500  337.25  17224986
2021-11-22  349.0500  353.8300  340.510  341.01  27116811
2021-11-19  342.2000  352.1000  339.900  345.30  26488541
2021-11-18  339.7200  342.4600  335.300  338.69  17487235
2021-11-17  344.2400  347.3000  340.100  340.77  13602812
2021-11-16  343.8300  346.6500  340.870  342.96  18181106
2021-11-15  344.3400  353.6500  343.200  347.56  25076603
2021-11-12  330.1800  341.8600  329.780  340.89  25414311
2021-11-11  329.8200  332.4590  327.000  327.74  12376563
2021-11-10  332.4900  333.1900  325.510  327.64  21872605
2021-11-09  340.0000  341.3075  334.470  335.37  17556721
2021-11-08  344.4200  344.7890  338.340  338.62  18342458
2021-11-05  340.3100  346.7900  339.640  341.13  26872817
2021-11-04  334.0065  337.2730  332.650  335.85  22495281
2021-11-03  327.4900  332.1500  323.200  331.62  20786502
2021-11-02  331.3800  334.7895  323.800  328.08  28352966
2021-11-01  326.0400  333.4500  326.000  329.98  31518885

In [13]:
df_now.to_csv('fb_now.csv')

In [20]:
#wczytanie danych z pliku csv
new_df = pd.read_csv('fb_now.csv', index_col=0)

In [21]:
new_df

                Open      High      Low   Close    Volume
Date
2021-11-30  335.0000  335.8100  323.430  324.46  25390008
2021-11-29  336.8900  340.6700  335.305  338.03  16650949
2021-11-26  335.7950  337.7500  331.902  333.12  14750737
2021-11-24  336.0000  341.7800  332.810  341.06  13566181
2021-11-23  338.9300  341.3999  333.500  337.25  17224986
2021-11-22  349.0500  353.8300  340.510  341.01  27116811
2021-11-19  342.2000  352.1000  339.900  345.30  26488541
2021-11-18  339.7200  342.4600  335.300  338.69  17487235
2021-11-17  344.2400  347.3000  340.100  340.77  13602812
2021-11-16  343.8300  346.6500  340.870  342.96  18181106
2021-11-15  344.3400  353.6500  343.200  347.56  25076603
2021-11-12  330.1800  341.8600  329.780  340.89  25414311
2021-11-11  329.8200  332.4590  327.000  327.74  12376563
2021-11-10  332.4900  333.1900  325.510  327.64  21872605
2021-11-09  340.0000  341.3075  334.470  335.37  17556721
2021-11-08  344.4200  344.7890  338.340  338.62  18342458
2021-11-05  340.3100  346.7900  339.640  341.13  26872817
2021-11-04  334.0065  337.2730  332.650  335.85  22495281
2021-11-03  327.4900  332.1500  323.200  331.62  20786502
2021-11-02  331.3800  334.7895  323.800  328.08  28352966
2021-11-01  326.0400  333.4500  326.000  329.98  31518885

In [16]:
df_now.to_excel('fb_now.xlsx') # eksport do excela

In [17]:
new_df = pd.read_excel('fb_now.xlsx')

In [18]:
new_df # uwaga - kolumna date nie wczytuje się jako indeks tylko jakko kolumna z nazwą

         Date      Open      High      Low   Close    Volume
0  2021-11-30  335.0000  335.8100  323.430  324.46  25390008
1  2021-11-29  336.8900  340.6700  335.305  338.03  16650949
2  2021-11-26  335.7950  337.7500  331.902  333.12  14750737
3  2021-11-24  336.0000  341.7800  332.810  341.06  13566181
4  2021-11-23  338.9300  341.3999  333.500  337.25  17224986
5  2021-11-22  349.0500  353.8300  340.510  341.01  27116811
6  2021-11-19  342.2000  352.1000  339.900  345.30  26488541
7  2021-11-18  339.7200  342.4600  335.300  338.69  17487235
8  2021-11-17  344.2400  347.3000  340.100  340.77  13602812
9  2021-11-16  343.8300  346.6500  340.870  342.96  18181106
10 2021-11-15  344.3400  353.6500  343.200  347.56  25076603
11 2021-11-12  330.1800  341.8600  329.780  340.89  25414311
12 2021-11-11  329.8200  332.4590  327.000  327.74  12376563
13 2021-11-10  332.4900  333.1900  325.510  327.64  21872605
14 2021-11-09  340.0000  341.3075  334.470  335.37  17556721
15 2021-11-08  344.4200  344.7890  338.340  338.62  18342458
16 2021-11-05  340.3100  346.7900  339.640  341.13  26872817
17 2021-11-04  334.0065  337.2730  332.650  335.85  22495281
18 2021-11-03  327.4900  332.1500  323.200  331.62  20786502
19 2021-11-02  331.3800  334.7895  323.800  328.08  28352966
20 2021-11-01  326.0400  333.4500  326.000  329.98  31518885

In [19]:
new_df = pd.read_excel('fb_now.xlsx', index_col=0) # wskazanie która kolumna ma być traktowana jako indeks
new_df

                Open      High      Low   Close    Volume
Date
2021-11-30  335.0000  335.8100  323.430  324.46  25390008
2021-11-29  336.8900  340.6700  335.305  338.03  16650949
2021-11-26  335.7950  337.7500  331.902  333.12  14750737
2021-11-24  336.0000  341.7800  332.810  341.06  13566181
2021-11-23  338.9300  341.3999  333.500  337.25  17224986
2021-11-22  349.0500  353.8300  340.510  341.01  27116811
2021-11-19  342.2000  352.1000  339.900  345.30  26488541
2021-11-18  339.7200  342.4600  335.300  338.69  17487235
2021-11-17  344.2400  347.3000  340.100  340.77  13602812
2021-11-16  343.8300  346.6500  340.870  342.96  18181106
2021-11-15  344.3400  353.6500  343.200  347.56  25076603
2021-11-12  330.1800  341.8600  329.780  340.89  25414311
2021-11-11  329.8200  332.4590  327.000  327.74  12376563
2021-11-10  332.4900  333.1900  325.510  327.64  21872605
2021-11-09  340.0000  341.3075  334.470  335.37  17556721
2021-11-08  344.4200  344.7890  338.340  338.62  18342458
2021-11-05  340.3100  346.7900  339.640  341.13  26872817
2021-11-04  334.0065  337.2730  332.650  335.85  22495281
2021-11-03  327.4900  332.1500  323.200  331.62  20786502
2021-11-02  331.3800  334.7895  323.800  328.08  28352966
2021-11-01  326.0400  333.4500  326.000  329.98  31518885