<a href="https://colab.research.google.com/github/Atria14/data-science/blob/main/02_dane/09_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [5]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 918 entries, 2022-12-29 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    918 non-null    float64
 1   High    918 non-null    float64
 2   Low     918 non-null    float64
 3   Close   918 non-null    float64
 4   Volume  918 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 43.0 KB

In [9]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2022-12-29     127.990    130.4814     127.73       129.61    75703710.0
2022-12-28     129.670    131.0275     125.87       126.04    85438391.0
2022-12-27     131.380    131.4100     128.72       130.03    69007830.0
2022-12-23     130.920    132.4150     129.64       131.86    63814893.0
2022-12-22     134.352    134.5600     130.30       132.23    77852108.0

In [8]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [11]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1) # połączenie danych po dacie

In [16]:
pd.set_option('display.float_format', lambda x: f'{x: 2f}') # zmienia sposób wyświetlania cyfr w tabeli
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.000000,96.726480,46.677332,34.743100,49.511975,89.863900,142.211000,181.576000
apple_high,1258.000000,97.901345,47.274188,35.158800,49.899550,91.369750,143.614500,181.885000
apple_low,1258.000000,95.593535,46.059702,34.263500,49.072050,89.347950,140.418250,178.087000
apple_close,1258.000000,96.789165,46.684692,34.309400,49.509000,90.018400,142.170500,180.958000
apple_volume,1258.000000,119508128.108052,56782613.565131,35195860.000000,81428663.309509,104799140.744745,140061759.701313,434708544.962650
amazon_open,1258.000000,119.921848,35.654711,58.600000,89.112125,108.037000,158.328500,187.200000
amazon_high,1258.000000,121.362222,36.038109,59.500000,89.780250,110.468500,159.931000,188.654000
amazon_low,1258.000000,118.312852,35.225609,58.525500,87.983625,106.309100,156.225000,184.840000
amazon_close,1258.000000,119.840890,35.591837,59.450000,88.970625,107.892000,158.093500,186.570000
amazon_volume,1258.000000,86625999.269475,40647989.206092,17626740.000000,58951163.500000,75211884.000000,102704060.000000,311345660.000000
google_open,1258.000000,85.697887,30.792325,49.216000,58.779125,73.687250,112.617500,151.250000
google_high,1258.000000,86.650261,31.085204,50.606000,59.264750,74.413700,114.010500,151.547000
google_low,1258.000000,84.738961,30.430999,48.883000,58.181875,72.917500,111.442750,148.899000
google_close,1258.000000,85.708781,30.749632,49.233500,58.732000,73.955000,112.697250,149.838000
google_volume,1258.000000,35314290.419714,16015804.173661,9312760.000000,25148720.000000,31434710.000000,40256020.000000,133177100.000000
uber_open,918.000000,37.487722,9.845970,15.960000,30.020000,35.255000,44.370000,63.250000
uber_high,918.000000,38.254788,9.922333,17.800000,30.520000,36.080000,45.103750,64.050000
uber_low,918.000000,36.636350,9.698563,13.710000,29.352500,34.310000,43.560000,60.800000
uber_close,918.000000,37.439488,9.793417,14.820000,30.042500,34.935000,44.230000,63.180000
uber_volume,918.000000,25568116.903050,16599912.433490,3380003.000000,15732136.500000,21873309.500000,30759954.000000,186322536.000000

In [18]:
df.corr() # współczynnik korelacji

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.000000,0.999731,0.999660,0.999273,-0.357113,0.801728,0.805515,0.796236,0.799664,-0.301426,0.930452,0.932519,0.928391,0.929641,-0.145222,0.098649,0.102092,0.098979,0.098149,0.109551
apple_high,0.999731,1.000000,0.999615,0.999660,-0.350823,0.800190,0.804445,0.794866,0.798736,-0.297095,0.929121,0.931542,0.927206,0.928782,-0.141604,0.093020,0.096981,0.093477,0.093235,0.112753
apple_low,0.999660,0.999615,1.000000,0.999672,-0.365511,0.802942,0.806924,0.798137,0.801650,-0.308089,0.932667,0.934841,0.931081,0.932397,-0.151309,0.102685,0.106345,0.103798,0.103060,0.105668
apple_close,0.999273,0.999660,0.999672,1.000000,-0.358588,0.801344,0.805761,0.796645,0.800842,-0.303633,0.930776,0.933303,0.929296,0.931138,-0.147654,0.097208,0.101307,0.098358,0.098530,0.108578
apple_volume,-0.357113,-0.350823,-0.365511,-0.358588,1.000000,-0.242758,-0.237652,-0.252701,-0.246047,0.589060,-0.409285,-0.405740,-0.416546,-0.411929,0.511415,-0.196518,-0.188106,-0.213595,-0.199390,0.237375
amazon_open,0.801728,0.800190,0.802942,0.801344,-0.242758,1.000000,0.999259,0.999074,0.998158,-0.268080,0.804526,0.803044,0.805650,0.804055,-0.153784,0.578637,0.581515,0.580014,0.579821,-0.045078
amazon_high,0.805515,0.804445,0.806924,0.805761,-0.237652,0.999259,1.000000,0.998867,0.999116,-0.257046,0.806238,0.805395,0.807608,0.806551,-0.147227,0.568356,0.572118,0.569980,0.570682,-0.038569
amazon_low,0.796236,0.794866,0.798137,0.796645,-0.252701,0.999074,0.998867,1.000000,0.999168,-0.283760,0.802400,0.801104,0.804430,0.802920,-0.166925,0.588503,0.591810,0.591084,0.591184,-0.052762
amazon_close,0.799664,0.798736,0.801650,0.800842,-0.246047,0.998158,0.999116,0.999168,1.000000,-0.270653,0.803342,0.802657,0.805492,0.804835,-0.158999,0.577092,0.581109,0.579698,0.581129,-0.046154
amazon_volume,-0.301426,-0.297095,-0.308089,-0.303633,0.589060,-0.268080,-0.257046,-0.283760,-0.270653,1.000000,-0.327205,-0.321602,-0.335401,-0.329506,0.589941,-0.177756,-0.170305,-0.193767,-0.184128,0.245347
google_open,0.930452,0.929121,0.932667,0.930776,-0.409285,0.804526,0.806238,0.802400,0.803342,-0.327205,1.000000,0.999580,0.999542,0.999001,-0.171963,0.241043,0.242657,0.241516,0.238977,0.095569
google_high,0.932519,0.931542,0.934841,0.933303,-0.405740,0.803044,0.805395,0.801104,0.802657,-0.321602,0.999580,1.000000,0.999438,0.999526,-0.164251,0.234676,0.236945,0.235227,0.233429,0.100978
google_low,0.928391,0.927206,0.931081,0.929296,-0.416546,0.805650,0.807608,0.804430,0.805492,-0.335401,0.999542,0.999438,1.000000,0.999556,-0.183286,0.247388,0.249160,0.248655,0.246238,0.090366
google_close,0.929641,0.928782,0.932397,0.931138,-0.411929,0.804055,0.806551,0.802920,0.804835,-0.329506,0.999001,0.999526,0.999556,1.000000,-0.175230,0.241056,0.243429,0.242311,0.240994,0.095585
google_volume,-0.145222,-0.141604,-0.151309,-0.147654,0.511415,-0.153784,-0.147227,-0.166925,-0.158999,0.589941,-0.171963,-0.164251,-0.183286,-0.175230,1.000000,-0.164700,-0.153115,-0.179719,-0.165763,0.263030
uber_open,0.098649,0.093020,0.102685,0.097208,-0.196518,0.578637,0.568356,0.588503,0.577092,-0.177756,0.241043,0.234676,0.247388,0.241056,-0.164700,1.000000,0.997490,0.997353,0.994384,-0.230885
uber_high,0.102092,0.096981,0.106345,0.101307,-0.188106,0.581515,0.572118,0.591810,0.581109,-0.170305,0.242657,0.236945,0.249160,0.243429,-0.153115,0.997490,1.000000,0.996987,0.997617,-0.206481
uber_low,0.098979,0.093477,0.103798,0.098358,-0.213595,0.580014,0.569980,0.591084,0.579698,-0.193767,0.241516,0.235227,0.248655,0.242311,-0.179719,0.997353,0.996987,1.000000,0.997400,-0.249641
uber_close,0.098149,0.093235,0.103060,0.098530,-0.199390,0.579821,0.570682,0.591184,0.581129,-0.184128,0.238977,0.233429,0.246238,0.240994,-0.165763,0.994384,0.997617,0.997400,1.000000,-0.226907
uber_volume,0.109551,0.112753,0.105668,0.108578,0.237375,-0.045078,-0.038569,-0.052762,-0.046154,0.245347,0.095569,0.100978,0.090366,0.095585,0.263030,-0.230885,-0.206481,-0.249641,-0.226907,1.000000

In [20]:
df.columns # lista wszystkich kolumn

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [21]:
# wyswietlenie wybranego współczynnika korelacji - np. close
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [23]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close      1.000000      0.800842      0.931138    0.098530
amazon_close     0.800842      1.000000      0.804835    0.581129
google_close     0.931138      0.804835      1.000000    0.240994
uber_close       0.098530      0.581129      0.240994    1.000000

In [24]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [25]:
df[closes]

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
Date,,,,,,,,
2018-01-02,40.950100,107348246.418410,59.450000,53811180,53.672000,31753540,NaN,NaN
2018-01-03,40.943100,123952741.667740,60.210000,61890620,54.576000,31305800,NaN,NaN
2018-01-04,41.136600,94011555.360735,60.482000,60348520,54.800000,26049960,NaN,NaN
2018-01-05,41.600100,99259454.900635,61.457000,70731320,55.514500,30238600,NaN,NaN
2018-01-08,41.457500,86361811.961306,62.343500,85409700,55.710500,24626920,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-12-22,132.230000,77852108.000000,83.790000,81431314,87.760000,27658293,24.640000,23752734.000000
2022-12-23,131.860000,63814893.000000,85.250000,57433655,89.230000,23003035,24.640000,11610045.000000
2022-12-27,130.030000,69007830.000000,83.040000,57284035,87.390000,20097346,24.400000,15258601.000000
2022-12-28,126.040000,85438391.000000,81.820000,58228575,86.020000,19523176,24.590000,15669206.000000
2022-12-29,129.610000,75703710.000000,84.180000,54995895,88.450000,23333537,24.910000,17828296.000000

METODA APPEND - dodawanie danych dataframe

In [28]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high   uber_low  uber_close  uber_volume
Date
2022-06-30  21.110000  21.125500  19.895000   20.460000     30882454
2022-06-29  22.110000  22.150000  21.080000   21.470000     30704792
2022-06-28  22.970000  23.460000  22.040000   22.080000     24360150
2022-06-27  23.450000  23.640000  22.345000   22.860000     27153354
2022-06-24  22.480000  23.190000  22.300000   23.030000     38140098
...               ...        ...        ...         ...          ...
2019-06-07  44.920000  45.670000  44.130000   44.160000     12654670
2019-06-06  45.000000  45.750000  44.280000   44.920000     16403691
2019-06-05  42.870000  45.660000  42.500000   45.000000     28609604
2019-06-04  42.560000  42.880000  40.700000   42.750000     23432141
2019-06-03  40.743500  41.850000  40.240000   41.250000     16605261

[85 rows x 5 columns]

In [29]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high   uber_low  uber_close  uber_volume
Date
2022-07-29  23.180000  23.485000  22.390000   23.450000     29406649
2022-07-28  22.890000  23.420000  22.140000   23.310000     22886075
2022-07-27  23.000000  23.319900  22.490000   23.090000     28384348
2022-07-26  23.150000  23.150000  22.450000   22.550000     24402801
2022-07-25  23.270000  23.540000  22.630000   23.350000     12923042
...               ...        ...        ...         ...          ...
2019-07-08  43.590000  43.850000  42.750000   42.950000      9304101
2019-07-05  44.310000  44.550000  43.010000   43.530000      8239452
2019-07-03  44.000000  44.460000  43.790000   44.230000      3380003
2019-07-02  44.550000  44.680000  43.750000   44.000000     11881274
2019-07-01  46.980000  47.040000  44.060000   44.270000     17739998

[85 rows x 5 columns]

In [32]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7

            uber_open  uber_high   uber_low  uber_close  uber_volume
Date
2022-06-30  21.110000  21.125500  19.895000   20.460000     30882454
2022-06-29  22.110000  22.150000  21.080000   21.470000     30704792
2022-06-28  22.970000  23.460000  22.040000   22.080000     24360150
2022-06-27  23.450000  23.640000  22.345000   22.860000     27153354
2022-06-24  22.480000  23.190000  22.300000   23.030000     38140098
...               ...        ...        ...         ...          ...
2019-07-08  43.590000  43.850000  42.750000   42.950000      9304101
2019-07-05  44.310000  44.550000  43.010000   43.530000      8239452
2019-07-03  44.000000  44.460000  43.790000   44.230000      3380003
2019-07-02  44.550000  44.680000  43.750000   44.000000     11881274
2019-07-01  46.980000  47.040000  44.060000   44.270000     17739998

[170 rows x 5 columns]